
.additionally__wrapper {
  padding: 20px;
}


.additionally__item {
  list-style-type: none;
}

.additionally__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  margin: 0;

}

.additionally-card__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.additionally-card__button {
  text-decoration: none;
}

.additionally-card__text {
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}

.additionally-card__cost {
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}
