
.catalog__wrapper {
  padding: 20px;
}


.catalog__item {
  list-style-type: none;
}

.catalog__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  margin: 0;

}

.catalog-card__item-title {
  text-decoration: none;
}

.catalog-card__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog-card__button {
  text-decoration: none;
}

.catalog-card__weight {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__taste {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__cost {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__card-more {
  background-image: url("../../icons/stack.svg#catalog-plus");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 95px 0;
  padding-top: 53px;
}

.catalog-card__title-more {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-card__text-more {
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__unique-button {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
  padding: 10px 95px 10px 94px;
  text-transform: uppercase;
}
