.catalog__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  line-height: 36px;
}

.catalog-card__item-title {
  text-decoration: none;
}

.catalog-card__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-card__title-more {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-card__text-more {
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__button {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.catalog-card__weight {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__taste {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__cost {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__unique-button {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
  padding: 10px 95px 10px 94px;
  text-transform: uppercase;
}
