.example__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.example__weight-mass {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__weight-text {
  color: #444444;
  font-size: 12px;
  line-height: 100%;
}

.example__time-days {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__time-text {
  color: #444444;
  font-size: 12px;
  line-height: 100%;
}

.example__cost {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__text {
  color: #444444;
  font-size: 16px;
  line-height: 24px;
}
