
.example {
  background-color: #eaeaea;
  position: relative;
  margin-top: 39px;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, #eaeaea, #eaeaea 462px, #ffffff 462px, #ffffff);
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 135px, #f2f2f2 135px, #f2f2f2);
  }
}

.example__wrapper {
  padding: 20px;
  position: relative;


  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0;
  }

}

.example__information {
  @media (min-width: $desktop-width) {
    width: 436px;
  }

}

.example__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;

    @media (min-width: $desktop-width) {
      margin-bottom: 146px;
    }
  }
}

.example__br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.example__result {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 75px;
  }
}

.example__weight-time {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 356px;
    margin-bottom: 0;
  }
}

.example__weight {
  border: 1px #cdcdcd solid;
  border-radius: 4px;

}

.example__weight-mass {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 42px 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 57px;
    padding-bottom: 0;
  }
}

.example__weight-text {
  color: #444444;
  font-size: 12px;
  line-height: 100%;
  text-transform: lowercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  background-color: #eaeaea;
  text-align: center;
  width: 77px;
  padding: 0 11px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__time {
  border: 1px #cdcdcd solid;
  border-radius: 4px;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.example__time-days {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 14px 21px 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__time-text {
  color: #444444;
  font-size: 12px;
  line-height: 100%;
  text-transform: lowercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  background-color: #eaeaea;
  text-align: center;
  width: 77px;
  padding: 0 11px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__cost {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    width: auto;
    margin-left: auto;
    margin-top: 13px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: 45px;
  }
}

.example__text {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }


}

.example__slider {
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 101px;
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    margin-bottom: 85px;
    margin-right: 21px;
  }
}

.example__cat-skinny {
  display: inline-block;
}

.example__cat-fat {
  position: absolute;
  width: 50%;
  overflow: hidden;
  background-color: #ebebeb;
  display: inline-block;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, #eaeaea, #eaeaea 341px, #ffffff 341px, #ffffff);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to top, #f2f2f2, #f2f2f2 380px, #ffffff 380px, #ffffff);
  }
}

.example__button {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  padding: 0;
  top: 0;
  left: 50%;
  margin-left: -2px;
}

.example__button::before {
  content: "";
  position: absolute;
  display: block;
  border: #666666 3px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.example__button::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#slider-arrow");
  mask-repeat: no-repeat;
  mask-size: 24px 18px;
  mask-position: 8px 11px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.example__button:hover {
  background-color: #68b738;
}

.example__button:active {
  background-color: #5eaa2f;
  opacity: 60%;
}

.example__button:hover::after {
  background-color: #68b738;
}

.example__button:active::after {
  background-color: #5eaa2f;
  opacity: 60%;
}

.example__button:hover::before {
  border: #68b738 3px solid;
}

.example__button:active::before {
  border: #5eaa2f 3px solid;
  opacity: 60%;
}
