.gift {
  position: relative;
  margin-top: 31px;
  margin-bottom: 50px;

  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/gift-cat-mobile@1x.png");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/gift-cat-tablet@1x.png");
    width: 707px;
    height: 200px;
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/gift-cat-desktop@1x.png");
    width: 245px;
    height: 288px;
    margin: 0;
  }
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding: 187px 59px 43px;

  @media (min-width: $tablet-width) {
    padding: 71px 125px 69px 421px;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 42px 43px;
  }
}

.gift::after {
  content: "";
  position: absolute;
  top: 59px;
  left: 101px;
  background-image: url("../../icons/stack.svg#catalog-gift");
  background-size: 78px 80px;
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;

  @media (min-width: $tablet-width) {
    top: 57px;
    left: 77px;
  }

  @media (min-width: $desktop-width) {
    top: 56px;
    left: 83px;
  }
}
