.main-nav__link {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}

.main-nav__list-item {
  list-style-type: none;
}
.main-nav__toggle {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border:none;
  background-image: url("../../icons/stack.svg#menu-mobile");
}
