.main-header {

  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 39px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 13px 0;
}

.main-header__logotype {
  text-decoration: none;

  display: flex;
  flex-wrap: wrap;

}

.main-header__logotype:hover {
  opacity: 70%;
}

.main-header__logotype:active {
  opacity: 60%;
}


.main-header__logo {
  z-index: 3;
}


.main-header__text-logo {
  padding: 10px 0;
  margin-left: 56px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding: 16px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 19px 0;

    margin-left: 14px;

  }

}
