.main-nav {
  margin: 0 auto;
  z-index: 3;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-nav__link {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: auto;
  }
}

.main-nav__link-index {
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  position: relative;
  max-width: 550px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__list-item {
  list-style-type: none;
  text-align: center;
  border-top: 1px #e6e6e6 solid;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__list-item:hover {
  opacity: 60%;
}

.main-nav__list-item:active {
  opacity: 30%;
}

.main-nav__list-item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 33px;
  }
}

.main-nav__list-item--current {
  @media (min-width: $tablet-width) {
    border-bottom: #68b738 2px solid;
  }
}

.main-nav__list-item--index--current {
  @media (min-width: $desktop-width) {
    border-bottom: #ffffff 2px solid;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 18px;
  background-color: #ffffff;
  border: none;
}

.main-nav--closed .main-nav__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#menu-mobile");
  padding: 0;

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: transparent;
  }
}

.main-nav--opened .main-nav__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#close-menu-mobile");
  padding: 0;

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: transparent;
  }
}

.main-nav--opened .main-nav__list {
  z-index: 5;
  background-color: #ffffff;
  width: 100%;
  min-width: 280px;
  position: absolute;
  top: 65px;
  left: 0;

  @media (min-width: $tablet-width) {
    top: 0;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}


@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list-item {
    display: none;
  }
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__toggle {
  display: none;

}
