.map__text {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.map__address {
  color: #444444;
  font-size: 14px;
  line-height: 20px;
}
