.news__text {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.news__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.news__button {
  font-size: 20px;
  line-height: 26px;
  border: none;
}

.news__email {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 20px;
  line-height: auto;
  text-transform: uppercase;
}
