.program {
  background-color: #504f54;
  background-image: linear-gradient(to top, #ffffff 0, #ffffff 178px, rgba(104, 183, 56, 0.85) 178px, rgba(104, 183, 56, 0.85) 100%), url("../../images/index-corm-cat-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top;
}

.program__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;

  text-align: center;

}

.program__text {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;

  text-align: center;

}

.program__button {
  text-decoration: none;
  padding: 10px 63px;
  text-align: center;
}
