.program {
  background-color: #504f54;
  background-image: linear-gradient(to top, #ffffff 0, #ffffff 178px, rgba(104, 183, 56, 0.85) 178px, rgba(104, 183, 56, 0.85) 100%), url("../../images/index-corm-cat-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top;


  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    background-image: none;
  }
}

.program::before {
  @media (min-width: $desktop-width) {
    content: "";
    background-image: linear-gradient(270deg, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%), image-set("../../images/index-corm-cat-desktop@1x.png" 1x type("image/png"), "../../images/index-corm-cat-desktop@2x.png" 2x type("image/png")), linear-gradient(270deg, #535257 50%, #ffffff 50%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 694px;
    display: block;
    position: absolute;
    top: 0;
  }
}

.program__wrapper {
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 875px;
  }

  @media (min-width: $desktop-width) {
    min-height: 550px;
  }
}

.program__index-corm-image {
  display: block;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    bottom: 52px;
    right: -170px;
  }

}

.program__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;

  font-weight: 400;
  text-align: center;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-left: 90px;
    width: 414px;
  }

}

.program__text {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;

  text-align: center;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-left: 90px;
    width: 414px;
  }
}

.program__button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 63px;
  text-align: center;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
    width: 244px;
  }
}

.program__button:active {
  color: #ffffff;
  background-color: #5eaa2f;

}
