
.social {
  border-bottom: #d9d9d9 1px solid;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.social__list {
  display: flex;
  margin: 20px auto;
  padding: 0;
  max-width: 150px;
}

.social__item {
  list-style-type: none;
}

.social__item:not(:last-child) {
  margin-right: 24px;
}

.social__link {
  width: 28px;
  height: 22px;
  display: block;
  background-color: #666666;
}

.social__link:hover {
  background-color: #68b738;
}

.social__link:active {
  background-color: #68b738;
  opacity: 30%;
}

.social__link--vk {
  mask-image: url("../../icons/stack.svg#vk");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  margin: 0;
}

.social__link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  margin: 0;
}


.social__link--telegram {
  mask-image: url("../../icons/stack.svg#telegram");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;


  margin: 0;
}
