.social__item {
  list-style-type: none;
}

.social__link {
  width: 28px;
  height: 22px;
  display: block;
}

.social__link--vk {
  mask-image: url("../../icons/stack.svg#vk");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  background-color: #666666;
  margin: 0;
}

.social__link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  background-color: #666666;
  margin: 0;
}

.social__link--telegram {
  mask-image: url("../../icons/stack.svg#telegram");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  background-color: #666666;
  margin: 0;
}
