.work__wrapper {
  padding: 20px;
}

.work__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

}

.work__text {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 151px;
  }
}

.work__list {
  margin: 0;
  display: grid;
  grid-template-columns: 280px;
  gap: 20px 0;
  counter-reset: listCounter;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 247px 249px;
    gap: 37px 137px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 230px 246px 248px 250px;
    gap: 77px;
  }
}

.work__item {
  list-style-type: none;
  min-height: 60px;
  padding-left: 80px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 280px;
    padding-left: 0;
    background-position: 0 40px;
  }
}
.work__item--one {
  background-image: url("../../icons/stack.svg#work-sheet1");
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

.work__item--two {
  background-image: url("../../icons/stack.svg#work-powder2");
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

.work__item--three {
  background-image: url("../../icons/stack.svg#work-food3");
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

.work__item--four {
  background-image: url("../../icons/stack.svg#work-time4");
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

.work__item::after {

  @media (min-width: $tablet-width) {
    content: counter(listCounter);
    counter-increment: listCounter;
    text-align: center;
    color: #f2f2f2;
    z-index: -1;
    font-family: "Oswald", "Century Gothic", sans-serif;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    position: absolute;
    top: -40px;
    left: 112px;
  }
}

.work__item {
  list-style-type: none;
}


.work__item--one {
  background-image: url("../../icons/stack.svg#work-sheet1");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  min-height: 60px;
  padding-left: 80px;
}

.work__item--two {
  background-image: url("../../icons/stack.svg#work-powder2");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  min-height: 60px;
  padding-left: 80px;
}

.work__item--three {
  background-image: url("../../icons/stack.svg#work-food3");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  min-height: 60px;
  padding-left: 80px;
}

.work__item--four {
  background-image: url("../../icons/stack.svg#work-time4");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  min-height: 60px;
  padding-left: 80px;
}
